<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-brands">&copy; WanderLust</div>
        <div class="f-links">
            <a href="/privacy">&#183; privacy</a>
            <a href="/terms">&#183; terms</a>
            <a href="/sitemap"> &#183; sitemap</a>
        </div>
    </div>
</footer>